.search-field{
    padding: 10px 15px;
    min-width: 55%;
    font-size: 1rem;
    line-height: 1.5em;
    color: #373D41;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #C5C5C7;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    flex-grow: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-submit{
    background-color:#1a1a1a;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
    outline: 0;
    padding: 14px 24px 13px;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 6px;
    border-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search-form .input-group{
    text-align:center;
    min-width: 600px !important;
}

.container {
    display: grid;
  place-items: center;
  min-height: 100vh;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 160px;
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .city-icon {
    font-size: 40px;
    color: #007bff;
    margin: 10px auto;
  }
  .city-icon img {
    width: 40px;
    height: 20px;
    margin-left: 40%;
  }
  
  .card-content {
    padding: 0 10px 10px 10px;
  }
  
  .city-name {
    text-align: center;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card {
    animation: fadeInUp 1s ease forwards;
    min-width: 200px;
  }
  
  @media (max-width: 800px) {
    .card {
      flex: 0 0 calc(50% - 20px);
    }
  }
  
  @media (max-width: 600px) {
    .card {
      flex: 0 0 calc(100% - 20px);
    }
  }