<div>
  <div class="container">
    <form class="search-form">
      <div class="input-group">
        <div class="input-group2">
          <label><input type="search" class="search-field" placeholder="Search for City by its name (enter at least 3 characters)" name="cityNameInput" [(ngModel)]="inputCityName"/>
          </label><input type="submit" class="rstore-domain-search-button search-submit btn btn-primary" value="Search" (click)="searchByCityName()" />
        </div>
      </div>
    </form>
    <div class="card-wrapper">
      <div *ngFor="let city of foundCities; let last = last; let index = index" class="card" [ngStyle]="{'animation-delay': index * 1 + 's'}">
        <i class="city-icon fas fa-city">
          <img [src]="city.imgCode === 'no-img' ? 'assets/no-img.png' : 'https://www.crwflags.com/fotw/images/d/' + city.imgCode + '.gif'" alt="coatofarms">
        </i>
        <div class="card-content">
          <h4 class="city-name">{{ city.cityName }}</h4>
        </div>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</div>